{% extends "base.html" %}

{% block content %}
<div class="w-[37vw] mx-auto my-10">

  <h1 class="mb-3 text-4xl text-center font-semibold text-[#F98821]">Your Cart</h1>
  {% if cart_items %}
  <table class="flex flex-col gap-x-1 py-3">
    <thead class="">
      <tr class="flex flex-row gap-x-[6rem] justify-start border border-1 py-3 text-xl">
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody class="border border-1">
      {% for item in cart_items %}
        <tr class="border borer-1 text-lg font-semibold">
          <td><img src="{{ item.product.product_img.url }}" alt="{{ item.product.product_title }}" class="w-[10rem]"></td>
          <td class="px-10 border borer-1">{{ item.product.product_title }}</td>
          <td class="px-8 border borer-1">{{ item.product.product_price }} Rs</td>
          <td class="px-10 border borer-1">{{ item.quantity }}</td>
          <td class="px-6 border borer-1">
            <form method="post" action="{% url 'delete_item' item.product.id %}">
              {% csrf_token %}
              <button type="submit" class="text-red-500 hover:text-red-700">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
  
  <div class="flex justify-between">
    <div class="flex items-center text-[#f98821] text-xl font-semibold">
      Your Total Shopping Price is {{ total_price }} Rs
    </div>
    <div class="flex items-center text-[#f98821] text-lg font-semibold">
      <button class="bg-[#f98821] text-white p-1 rounded-md px-2"><a href="{% url 'payment' %}">Proceed to CheckOut</a></button>
    </div>
  </div>
</div>
{% endblock %}
